In [3]:
import re
import numpy as np
import pandas as pd

# Programação Funcional - Funções Anônimas

O aspecto mais fundamental do paradigma de programação funcional é a definição de funções. Funções são capazes de receber entradas (**argumentos**), executar um bloco de código sobre esses argumentos, e **retornar valores**.

Vamos relembrar a sintaxe básica para definirmos uma função:

* Primeiro declaramos a função através da palavra chave **def**
```python
def nome_da_funcao(argumento_obrigatorio, argumento_opcional = 10):
```
* Adicionamos um bloco identado de código, com as instruções do corpo da função e sua documentação:
```python
def nome_da_funcao(argumento_obrigatorio, argumento_opcional = 10):
    '''
    Esta função retorna a soma do argumento_obrigatorio ao argumento_opcional.
    Argumentos:
        argumento_obrigatorio Float
        argumento_opcional Float
    Returns:
        Float
    '''
    soma = argumento_obrigatorio + argumento_opcional
```

* Ao fim, usamos a palavra-chave **return** para especificar o que a função retornará:

```python
def nome_da_funcao(argumento_obrigatorio, argumento_opcional = 10):
    '''
    Esta função retorna a soma do argumento_obrigatorio ao argumento_opcional.
    Argumentos:
        argumento_obrigatorio Float
        argumento_opcional Float
    Returns:
        Float
    '''
    soma = argumento_obrigatorio + argumento_opcional
    return soma
```

In [ ]:
def nome_da_funcao(argumento_obrigatorio, argumento_opcional = 10):
    '''
    Esta função retorna a soma do argumento_obrigatorio ao argumento_opcional.
    Argumentos:
        argumento_obrigatorio Float
        argumento_opcional Float
    Returns:
        Float
    '''
    soma = argumento_obrigatorio + argumento_opcional
    return soma

In [ ]:
print(nome_da_funcao(5))

In [ ]:
dois_cinco = nome_da_funcao(2, 5)
print(dois_cinco)

# Funções Anônimas

No Python podemos utilizar outra forma de declarar funções: as funções lambda. Funções lambda são **funções**, ou seja, fazem todas as mesmas coisas que funções criadas através da palavra-chave `def`.

https://realpython.com/python-lambda/

* Herdam o nome do  `cálculo lambda`.
* São chamadas de funções anônimas pois não são 'guardadas' em uma variável.

## Como definir funções lambda?

Vamos criar uma função normal e ver como podemos criar uma função lambda com as mesmas capacidades.

In [ ]:
def div_2(x):
    return x/2

In [ ]:
div_2(4)

Agora vamos criar uma função anônima equivalente

In [ ]:
lambda x: x/2

## Invocando funções Lambda

A definição acima não nos ajuda muito: como as funções anônimas nâo estão associadas à uma variável (como a variável *div_2* quando criamos a função utilizando o `def`).

Vamos ver algumas formas de invocar as funções lambda

### Invocação direta

Podemos invocar uma função anônima imediatamente após sua declaração:

In [ ]:
(lambda x: x+10) (10)

### Invocação através de uma Variável

Podemos *guardar* uma função lambda em uma variável: dessa forma nossa função não será mais anônima!

In [ ]:
soma_10 = lambda x: x + 10

In [ ]:
soma_10(5)

### Utilizando `.map()`

Podemos utilizar funções lambda para simplificar a sintaxe quando utilizamos o método `.map()` dos DataFrames

In [18]:
tb_sleep = pd.read_csv('http://www.statsci.org/data/general/sleep.txt', sep='\t')
tb_sleep = tb_sleep.dropna()

In [19]:
primate_pattern = r'monk|ape|man|gorilla|baboon|chimpanzee'
tb_sleep['primate_list'] = tb_sleep['Species'].map(lambda x: re.findall(primate_pattern, x.lower()))
tb_sleep['primate_list'].head(10)

1               []
4               []
5         [baboon]
6               []
7               []
8               []
9     [chimpanzee]
10              []
11              []
14              []
Name: primate_list, dtype: object

## Funções Lambda com Múltiplos Argumentos

Assim como as funções normais, funções anônimas podem receber mais do que um argumento.

In [7]:
(lambda x, y: x + y) (10, 5)

15

In [8]:
soma_lambda = lambda x, y: x + y
print(soma_lambda(10, 5))

15

## Funções Lambda com Condicionais

Como a sintaxe de uma função lambda não admite as estruturas de controle tradicionais (`for`, `while`, `if`...), para utilizar condicionais dentro de funções lambda precisamos aprender uma nova forma sintática. Essa forma é muito semelhante às condicionais em `list comprehensions`.

In [14]:
lista_num = [0, 1, 4, 5, 6, 10, 14, 15]

In [15]:
lista_par = [x for x in lista_num if x % 2 == 0]
print(lista_par)

[0, 4, 6, 10, 14]

In [18]:
e_par = lambda x: 1 if x % 2 == 0 else 0

1

In [ ]:
e_par(2)

In [16]:
lista_div = [10/x for x in lista_num if x != 0]
print(lista_div)

In [20]:
div_segura = lambda x: 1/x if x != 0 else None

In [21]:
div_segura(0)

## Aplicações

Até agora as funções anônimas parecem ser variantes mais pobres das funções nomeadas - de fato, é isso que são! Mas temos que nos atentar a diferença de aplicações:

1. Funções nomeadas são utilizadas para **refatorar** código, ou seja, para tornar nosso código mais **compartimentado** e mais fácil de se manter
1. Já as funções anônimas são utilizadas como as list comprehensions: para simplificar a sintáxe. Quando não vamos utilizar um função mais que uma vez em nosso código e essa função é simples, não devemos utilizar uma função nomeada mas sim uma função lambda!

### O método `.map()`

Já vimos que podemos utilizar o método `.map()` para aplicar uma função aos elementos de uma coluna. As funções lambda nos permitem utilizar um `.map()`

In [7]:
names = ['Pedro', 'Gabi', 'Adriano', 'Maria']
telefone = ["+5511983722311", "+1113123314", "+5511953122316", "+111564316"]
tb_telefones = pd.DataFrame({"nome" : names, "telefone" : telefone})
tb_telefones

      nome        telefone
0    Pedro  +5511983722311
1     Gabi     +1113123314
2  Adriano  +5511953122316
3    Maria      +111564316

In [8]:
mask_br = tb_telefones['telefone'].map(lambda x: True if x.find('+55') >= 0 else False)

In [9]:
tb_telefones[mask_br]

      nome        telefone
0    Pedro  +5511983722311
2  Adriano  +5511953122316

### O método `.groupby()`

O método `.groupby()` nos permite passar funções arbitrarias para realizar a agregação de dados. Muitas vezes utilizamos os métodos `.mean()` ou `.sum()` para realizar essa agregação mas, através do método `.agg()`, podemos passar um função que nós mesmos definimos!

Vamos ver como podemos reconstruir o método `.mean()` primeiro usando uma função nomeada e depois uma função anônima.

In [13]:
tb_sleep.groupby('Danger')['TotalSleep'].mean()

Danger
1    13.083333
2    11.750000
3    10.310000
4     8.811111
5     4.071429
Name: TotalSleep, dtype: float64

In [14]:
def mean(vetor):
    return np.mean(vetor)

tb_sleep.groupby('Danger')['TotalSleep'].agg(mean)

Danger
1    13.083333
2    11.750000
3    10.310000
4     8.811111
5     4.071429
Name: TotalSleep, dtype: float64

In [15]:
tb_sleep.groupby('Danger')['TotalSleep'].agg(lambda vetor: np.mean(vetor))

Danger
1    13.083333
2    11.750000
3    10.310000
4     8.811111
5     4.071429
Name: TotalSleep, dtype: float64

As vezes queremos agregar nossos dados através de funções que não estão disponíveis como métodos. Se esta função for simples o melhor caminho será utilizando o método `.agg()` + uma função anônima.

Vamos calcular o IQR (Inter-Quartile Range), uma medida de dispersão (semelhante ao desvio padrão), definida como a diferença entre o 3o e 1o quartis.

In [20]:
tb_sleep.groupby('Danger')['TotalSleep'].agg(lambda x: np.quantile(x, 0.75) - np.quantile(x, 0.25))

Danger
1    10.35
2     4.35
3     6.35
4     2.10
5     0.10
Name: TotalSleep, dtype: float64

### O método `.transform()`

Além do `.agg()`, podemos utilizar outro método extremamente importante após um `.groupby()`: o método `.transform()`. Este método realiza uma agregação - de forma semelhante ao método `.agg()`, mas ao invés de retornar um DataFrame onde cada linha é uma chave do nosso `.groupby()` ele retorna uma série, do tamanho da tabela original, com o resultado da agregação pelo grupo para cada observação daquele grupo.

Vamos começar com a mesma agregação que fizemos acima, mas dessa vez utilizando o método `.transform()`.

In [21]:
tb_sleep.groupby('Danger')['TotalSleep'].transform("mean")

1     10.300000
4      8.811111
5      8.811111
6     13.854545
7      8.811111
8     13.854545
9     13.854545
10     8.811111
11     4.560000
14    13.854545
15    12.040000
16    12.040000
17    12.040000
21     4.560000
22    12.040000
24    13.854545
26    10.300000
27     8.811111
28     4.560000
31     8.811111
32    13.854545
33    13.854545
36    10.300000
37    10.300000
38    13.854545
39    13.854545
41    12.040000
42     8.811111
43    12.040000
44     8.811111
45     4.560000
47    10.300000
48    13.854545
49    12.040000
50    12.040000
51    10.300000
53     4.560000
56    12.040000
57    10.300000
58    12.040000
59     8.811111
60    13.854545
Name: TotalSleep, dtype: float64

In [24]:
tb_sleep.groupby('Danger')['TotalSleep'].mean()

Danger
1    13.854545
2    12.040000
3    10.300000
4     8.811111
5     4.560000
Name: TotalSleep, dtype: float64

In [25]:
tb_sleep['media_totalsleep_danger'] = tb_sleep.groupby('Danger')['TotalSleep'].transform("mean")
tb_sleep.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,primate_list,media_totalsleep_danger
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,[],10.300000
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,[],8.811111
5,Baboon,10.550,179.5,9.1,0.7,9.8,27.0,180.0,4,4,4,[baboon],8.811111
6,Bigbrownbat,0.023,0.3,15.8,3.9,19.7,19.0,35.0,1,1,1,[],13.854545
7,Braziliantapir,160.000,169.0,5.2,1.0,6.2,30.4,392.0,4,5,4,[],8.811111

Um uso comum desse método é calcular como cada observação se comporta em relação ao seu grupo: por exemplo, podemos encontrar dentro de cada faixa de `Danger`, quais animais dormem mais ou menos:

In [27]:
tb_sleep['norm_totalsleep_danger'] = tb_sleep['TotalSleep']/tb_sleep['media_totalsleep_danger']
tb_sleep.sort_values('norm_totalsleep_danger', ascending=False).head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,primate_list,media_totalsleep_danger,norm_totalsleep_danger
45,Rabbit,2.500,12.10,7.5,0.9,8.4,18.0,31.0,5,5,5,[],4.560000,1.842105
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1,[],13.854545,1.436352
6,Bigbrownbat,0.023,0.30,15.8,3.9,19.7,19.0,35.0,1,1,1,[],13.854545,1.421916
10,Chinchilla,0.425,6.40,11.0,1.5,12.5,7.0,112.0,5,4,4,[],8.811111,1.418663
41,Owlmonkey,0.480,15.50,15.2,1.8,17.0,12.0,140.0,2,2,2,[monk],12.040000,1.411960

Uma forma comum de se fazer isso é através do Z-Score: para cada observação, subtraimos a média do grupo e dividimos pelo desvio padrão do grupo. Vamos usar uma função lambda para calcular isto:

In [28]:
tb_sleep['zs_totalsleep_danger'] = tb_sleep.groupby('Danger')['TotalSleep'].transform(lambda x: (x - np.mean(x))/np.std(x))
tb_sleep.sort_values('zs_totalsleep_danger', ascending=False).head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,primate_list,media_totalsleep_danger,norm_totalsleep_danger,zs_totalsleep_danger
45,Rabbit,2.500,12.10,7.5,0.9,8.4,18.0,31.0,5,5,5,[],4.560000,1.842105,1.965127
41,Owlmonkey,0.480,15.50,15.2,1.8,17.0,12.0,140.0,2,2,2,[monk],12.040000,1.411960,1.571447
10,Chinchilla,0.425,6.40,11.0,1.5,12.5,7.0,112.0,5,4,4,[],8.811111,1.418663,1.524027
58,Treeshrew,0.104,2.50,13.2,2.6,15.8,2.3,46.0,3,2,2,[],12.040000,1.312292,1.191258
32,Littlebrownbat,0.010,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1,[],13.854545,1.436352,1.154681