# REGular EXpression - INTRO TO REGEX

In [ ]:
# Importe a biblioteca!!
import re

1. `re.search`: Finds the first match and returns it;
2. `re.findall`: Returns a list with all matches;
4. `re.sub`: Replaces a pattern with a string.

Visualizando REGEXs: https://regexper.com/

## `findall()` Function

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs.'
pattern = 'neighbor'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Dog, has 5 dogs.'
pattern = 'nei'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern_2 = 'NEIGHBOR'

re.findall(pattern_2, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern_3 = 'e'

re.findall(pattern_3, text)

### Application I

In [ ]:
# Extrair todas as colunas da T1
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [ ]:
re.findall('T1_', ' '.join(lista_colunas))

In [ ]:
lista_t1 = []
for coluna in lista_colunas:
    pattern = 'T1_'
    if re.findall(pattern, coluna):
        lista_t1.append(coluna)
        
print(lista_t1)

## Complex Patterns

### Operator '|' - OR

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = 'dog|paw'

re.findall(pattern, text)

Selecting T1 or T4 columns:

In [ ]:
lista_colunas = ['T1_id', 'T1_nome', '       T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', '  T1_num', '    T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', '     T2_tp_promo4', '  T3_vl_promo1', 'T4_vl_sv', 'T5_qt_doado']

In [ ]:
pattern = 'T1|T4'
colunas_final = []

for coluna in lista_colunas:
    if re.findall(pattern, coluna):
        colunas_final.append(coluna)

print(colunas_final)

### Sets

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws.'
pattern = '[Pp][Aa][Ww]'

re.findall(pattern, text)

In [ ]:
text = 'Meu mEU MeUDEOS'
pattern = '[Mm][Ee][Uu]'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = '[Pp]aw'

re.findall(pattern, text)

In [ ]:
text = 'Patas pata pAta fAta fAca'
pattern = '[pPasdfaaPPpa2][Aa][ct]a'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = '[Pp]aw|dog'
re.findall(pattern, text)

#### Application II

In [ ]:
# Extrair todas as colunas da T1 ou da T2
lista_colunas = ['T1_id', 't1_nome', 'T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 't2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [ ]:
lista_colunas_T1T2 = []
for coluna in lista_colunas:
    if re.findall('[Tt][12]', coluna):
        lista_colunas_T1T2.append(coluna)
print(lista_colunas_T1T2)

## `sub()` Function

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = '[Pp]aw'
nova_pattern = 'Pedro'
print(re.sub(pattern, nova_pattern, text))

Podemos utilizar a função `sub()` para fazer a limpeza de strings semi-estruturados, por exemplo, nossa lista de colunas!

In [ ]:
lista_colunas = ['T1_id', 't1_nome', 'T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 't2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [ ]:
lista_colunas_limpa = []
pattern = '[Tt][123456789]_'
new_pattern = ''
for coluna in lista_colunas:
    lista_colunas_limpa.append(re.sub(pattern, new_pattern, coluna))
print(lista_colunas_limpa)

## Special sets
1. `[a-z]`: any lower case letter;
1. `[A-Z]`: any upper case letter;
1. `[0-9]`: any digit;
1. `[A-Za-z]`: all letters;
1. `[À-ž]`: all diacriticals.

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = r'[A-Za-z][A-Za-z][A-Za-z]'
re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = 'p[A-Za-zÀ-ž]es'

re.findall(pattern, text)

. `^` is equivalent to NOT

In [ ]:
pattern = '[^A-Za-z0-9À-ž]'

re.findall(pattern, text)

## Meta-characters

1. `\w`: any alpha-numerical character ([0-9a-ZA-ZÀ-ž])
3. `\d`: any digit
7. `.` : any charecter except newline - `\n`.

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = r'\d'

print(re.findall(pattern, text))

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = r'\w'

print(re.findall(pattern, text))

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws'
pattern = r'.'

print(re.findall(pattern, text))

## Quantifiers
1. `*`: 0 or more;
2. `?`: 0 ou 1;
3. `+`: At least one;

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws.'
pattern = r'[A-Za-z]*'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws.'
pattern = r'[A-z0-9]+'

re.findall(pattern, text)

In [ ]:
text = 'My neighbor, mr. Paw, has 5 dogs and each one has 4 paws.'
pattern = r'[0-9]+'

re.findall(pattern, text)

## EApplication III

In [ ]:
import re

str="""
>Venues
>Marketing
>medalists
>Controversies
>Paralympics
>snowboarding
>[1]
>Netherlands
>[2]
>Norway
>[10]
>[11]
>References
>edit
>[12]
>Norway
>Germany
>Canada
>Netherlands
>Japan
>Italy
>Belarus
>China
>Slovakia
<$#%#$%
<#$#$$
<**&&^^
>Slovenia
>Belgium
>Spain
>Kazakhstan
>[15]
>1964
>1968
>1972
>1992
>1996
>2000"""

pattern = r'>.+'
data=re.findall(pattern, str)

print(data)

## Application IV

In [ ]:
import re

str='The advancements in biomarine studies franky@google.com with the investments necessary and Davos sinatra123@yahoo.com Then The New Yorker article on wind farms...'

pattern = r'[a-zA-Z0-9]+@[a-zA-Z0-9]+.com'
emails=re.findall(pattern, str)


print(emails)

Crie um segundo padrão para extrair apenas os domínios dos e-mails encontrados no texto (`@google.com` e `@yahoo.com`)

In [ ]:
pattern = r'@[a-zA-Z0-9]+.com'
domains=re.findall(pattern, str)

print(domains)

## Application V

In [ ]:
import re

str='''
Ancient Script 21298: The Takenouchi documents are the ancient historical records that have been secretly preserved and passed down from generation to generation by the Takenouchi family, the head of family being the chief priest of the Koso Kotai Jingu shrine. 212-111-5932 
Ancient Sword 21299: The Takenouchi swords are the ancient historical swords that have been secretly preserved and passed down from generation to generation by the Takenouchi family, the head of family being the chief priest of the Koso Kotai Jingu shrine. 212-111-5932
Ancient Jewelry 21300: The Takenouchi gems are the ancient historical jewels that have been secretly preserved and passed down from generation to generation by the Takenouchi family, the head of family being the chief priest of the Koso Kotai Jingu shrine. 212-111-5932
'''

pattern = r'212[0-9]+'
data=re.findall(pattern, str)

print(data)

Construa outro padrão para extrair a linha completa de informação associada a cada artefato cujo ID (21298, 21299, 21300) começa com 212.

In [ ]:
pattern = r'212[0-9]+.*'
data=re.findall(pattern, str)

print(data)

# More Challenges!

https://www.hackerrank.com/domains/regex - Hackerrank possui toda uma trilha de aprendizagem associada à REGEX;

https://regexone.com/lesson/introduction_abcs - REGEXONE traz não apenas exercícios mas também breves lições sobre os conceitos abordados em cada ex.